php_version: "7.1"
db_password: "nextcloud_db_password"
nextcloud_domain: "cloud.your.domain"
escaped_domain: "cloud\\.your\\.domain"
collabora_domain: "collabora.your.domain"
letsencrypt_email: "your@email.mail"
